{% extends "base.html" %}
{% set active_page = "calibration" %}
{% block content %}
<div class="container-fluid text-center">    
  <div class="row content">
    
    <div class="row content">
        <div class="col-sm-1 sidenav"> <!-- Right side margin-->
          
        </div>
        <div class="col-sm-10 text-left">
          <h2>Welcome,{{username}}!</h2>
          
          <h3>Enquiry Tracker</h3>


<form name="myForm" action="/open_enq" onsubmit="return validateForm()" method="post">
  
<table  >
            <thead >
                <tr>
                  <!--<th  style="font-size: 14px; text-align: center;">Enquiry ID</th>
                  <th class="smal">Select Record</th>-->

                    <th >Select Record</th>
                    <th  style="font-size: 14px; text-align: center;">Enquiry ID</th>
                    <th >Enquiry Date</th>
                    <th>Party Name</th>
                    <th>Contact No</th>
                    <th>EMail</th>
                    <th>Unload address</th>
                    <th>City Load</th>
                    <th>City Unload</th>
                    <th>Visit No</th>
                    
                </tr>
            </thead>    
            <tbody>
                
                {% for row in data %}    
                <tr>
                  <!--<td><a href=/open_enq?recid={{row[0]}}> {{row[0]}}  </a></td>
                  <td><input type="radio" name="enqid_select" value={{row[0]}} >  </td>-->


                    <td><input type="radio" name="enqid_select" id="enqid_select" value={{row[0]}} >  </td>

                    <td><a href=/open_enq?recid={{row[0]}}></a> {{row[0]}}  </td>
                    
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[9]}}</td>
                    <td>{{row[6]}}</td>
                    <td>{{row[7]}}</td>
                    <td>{{row[20]}}</td>
                    
                   
                    
                    <!-- <td><a href=/schedule?recid={{row[0]}}> Schedule Visit  </a></td>-->          
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <input type="submit"  name="submit" value="Open Enquiry">
        <!--<input type="submit"  name ="submit" value="Edit Record"> -->
        <input type="submit"  name ="submit" value="Visit" >
        <input type="submit"  name ="submit" value="Quotation Form">
        <!--<input type="submit"  name ="submit" value="Work Order Memo"> -->
        
      </div>
    </form>


</form>

<script>
function validateForm() {
 
  var x = document.forms["myForm"]["enqid_select"].value;
 
  if (x == "") {
    alert("Please select Enquiry row to process.");
    return false;
  }
}

</script>

{% endblock %}