<form action="/addrecord" method = "POST">
   <p>Enq Mode <input type = "text" name = "modee" /></p>
   <p>Date <input type = "text" name = "enqdate" /></p>
   <p>Name<input type = "text" name = "name"/></p>
   <p>Mob No <input type = "text" name = "MobileNo" /></p>
   <p>eMail-Id <input type = "text" name = "email_id"/></p>
   <p>Tentative Date <input type = "text" name = "tdate"/></p>
   <p>Addres Load <input type = "text" name = "add_load"/></p>
   <p>Address Unload <input type = "text" name = "add_unload"/></p>
   <p>Floor No load <input type = "text" name = "floor_no_load"/></p>
   <p>Floor No unload <input type = "text" name = "floor_no_unload"/></p>
   <p>Lift available load <input type = "text" name = "lift_avail_load"/></p>
   <p>Lift available unload <input type = "text" name = "lift_avail_unload"/></p>
   <p>Visit required <input type = "text" name = "visit_req"/></p>

   <p><input type = "submit" value = "Submit" /></p>
</form>


