{% extends "base.html" %} 
{% set active_page = "calibration" %}
 {% block content%}

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">

    </div>
    <div class="col-sm-9 text-left">

      <h3>First Hand Enquiry</h3>

      <form id="myForm" action="/disp_table1" method="post">
        <table>
          <tr>
            <th style="width: 35%">Item</th>
            <th style="width: 50%">Details</th>
          <tr>
            <td>Party Name</td>
            <td><input type="text" name="party_name" class="form-control" required /></td>
          </tr>
          <tr>
            <td>Party Contact No</td>
            <td><input type="text" name="contact_no" pattern="[789][0-9]{9}" class="form-control" required /></td>
          </tr>
          <tr>
            <td>Party eMail ID</td>
            <td><input type="text" name="email_id" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}"  class="form-control" /></td>
          </tr>
          <tr>
            <td>Address From</td>
            <td><input type="text" name="address_from" class="form-control" required /></td>
          </tr>
          <tr>
            <td>Address To</td>
            <td><input type="text" name="address_to" class="form-control" required/></td>
          </tr>
          <tr>
            <td>Tentative Date of Moving</td>
            <td><input type="date" name="t_moving_date" id="datefield" class="form-control" value="{{today1}}" /></td>
          </tr>
          <tr>
            <td>City of Loading From</td>
            <td><input type="text" name="city_load" class="form-control" required /></td>
          </tr>
          <tr>
            <td>City To</td>
            <td><input type="text" name="city_uload" class="form-control" required/></td>
          </tr>
          <tr>
            <td>Household Size (Sq Ft)</td>
            <td><input type="text" name="house_area" class="form-control" value="" required  /></td>
          </tr>

          <td>Prefered Visit Date</td>
          <td><input type="date" name="p_visit_date" id="datehide" class="form-control" required /></td>
          </tr>
          <tr>
            <td>Floor Number From</td>
            <td><input type="text" name="floor_no_load" class="form-control" value="" required/></td>
          </tr>
          <tr>
            <td>Floor Number To</td>
            <td><input type="text" name="floor_no_unload" class="form-control" value="" required /></td>
          </tr>
          <tr>
            <td>Lift available at Loading site</td>
            <td>
              <input type="radio" id="available" name="lift_load" value="Available">
              <label for="available">Available</label><br>

              <input type="radio" id="not available" name="lift_load" value="Not Available">
              <label for="not available">Not Available</label><br>
            </td>
          </tr>
          <tr>
            <td>Lift available at Unloading site</td>
            <td>
              <input type="radio" id = "available" name="lift_unld" value="Available">
              <label for="available">Available</label><br>

              <input type="radio" id="not available" name="lift_unld" value="Not Available">
              <label for="not available">Not Available</label><br>
            </td>
          </tr>

          <tr>
            <td>Insurance Required by Party</td>
            <td>
              <input type="radio" id="required" name="insurance" value="Required">
              <label for="required">Required</label><br>

              <input type="radio" id="not required" name="insurance" value="Not Required">
              <label for="not required"> Not Required</label><br>


              
            </td>
          </tr>
          <tr>
            <td>Visit Required </td>
            <td>
              <input type="radio" id="required" name="visit" value="Required">
              <label for="required">Required</label><br>

              <input type="radio" id="not required" name="visit" value="Not Required">
              <label for="not required">Not Required</label>
            </td>
          </tr>
          <tr>
            <td><input type="reset" value="Reset" /></td>
            <td><input type="submit" id="insert" name="insert" value="Save Enquiry" /></td>
          </tr>
          <tbody>
    </div>
    </tbody>
    </table>
    </form>
    <script>
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth()+1; //January is 0 so need to add 1 to make it 1!
      var yyyy = today.getFullYear();
      if(dd<10){
        dd='0'+dd
      } 
      if(mm<10){
        mm='0'+mm
      } 
    today = yyyy+'-'+mm+'-'+dd;
    document.getElementById("datefield").setAttribute("min", today);
    document.getElementById("datehide").setAttribute("min", today);
    </script>
  </div>
</div>
{% endblock %}