{% extends "base.html" %} {% set active_page = "calibration" %} {% block content %}

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">

    </div>
    <div class="col-sm-9 text-left">

      <h3>Material Selection: Enq Id: {{enq_id}}</h3> 
      {% if message %}
      <div class="alert alert - success">{{message}}</div>
      {% endif %}

      <form id="myForm3" action="/material_issued" method="post">
        <!-- <form id="myForm3" method="GET" -->

        <table>
          <tr>
            <th style="width: 25%">Item Id</th>
            <th style="width: 25%">Item</th>
            <!--deatils(quantity in stock)-->
            <th style="width: 25%">Quantity in stock</th>
            <th style="width: 35%">Qty Issued</th>
          </tr>

          
          {% for row in material_data %}

          <tr>
            
            <td><input type="text" id="material_id" name="material_id[]" class="form-control" value="{{row[0]}}" required readonly></td>
            <td><input type="text" id="material_name" name="material_name[]" class="form-control" value="{{row[1]}}" required readonly></td>
            <td><input type="text" id="qty_in_stock" name="qty_in_stock[]" class="form-control" value="{{row[2]}}" required readonly></td>
            <td><input type="text" id="qty_issued" name="qty_issued[]" class="form-control" value="" required></td>
          </tr>

          {% endfor %}

          <tr>
            <td><input type="reset"  value="Reset" /></td>
            <td></td>
            <td></td>
            <td><input type="submit" id="insert" name="insert" value="Save Qty" />
          </tr>
        </div>
    </div>
    <script>
      $(document).ready(function(){

          var new_input = '<div><input type="text" name="field[]" value=""/><a href="javascript:void(0);" class="remove-input" title="Remove input"><img src="/static/img/remove.png"/></a></div>';
          var add_input_count = 1; 
         
          
      });
      </script>

    </table>
    </form>
  </div>

{% endblock %}
 