{% extends "base.html" %}
 {% set active_page = "calibration" %}
  {% block content%}

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">

    </div>
    <div class="col-sm-9 text-left">

      <h3>Work Order already raised for  Work Order NO: {{memo_id}}</h3>

      <form id="myForm" action="/material_select" method="post">
        {% for row in memo_data %}
        <table>
          <tr>
            <th style="width: 35%">Item</th>
            <th style="width: 50%">Details</th>
            <tr>
              <td>Party Name</td>
              <td>{{party_name}}</td>
          </tr>
           
          <tr>
            <td>Enquiry Number</td>
            <td><input type="text" name="enq_number" class="form-control" value={{recid}} readonly /> </td>
          </tr>
          <tr>
            <td>Visit Number</td>
            <td>{{row[2]}} </td>
          </tr>
          <tr>
            <td>Memo Number</td>
            <!--name=memo_number-->
            <td><input type="text" name="memo_number" class="form-control" value={{memo_id}} readonly /> </td>
          </tr>
          <tr>
            <td>Memo Order Date</td>
            <td>{{row[1]}} </td>
          </tr>
          <tr>
            <td>Consignor</td>
            <td>{{row[4]}} </td>
          </tr>

          <tr>
            <td>Consignor Address</td>
            <td>{{row[5]}} </td>
          </tr>
          <tr>
            <td>Consignee</td>
            <td>{{row[6]}} </td>
          </tr>
          <tr>
            <td>Consignee Address</td>
            <td>{{row[7]}} </td>
          </tr>
          <tr>
            <td>Driver Name</td>
            <td>{{row[8]}} </td>
          </tr>
          <tr>
            <td>Driver allowance</td>
            <td>{{row[9]}} </td>
          </tr>
          <tr>
            <td>Superviser Name</td>
            <td>{{row[10]}} </td>
          </tr>
          <tr>
            <td>Superviser Amt Rs.</td>
            <td>{{row[11]}} </td>
          </tr>

          <tr>
            <td>Goods description</td>
            <td>{{row[12]}} </td>
          </tr>
          <tr>
            <td>Truck Number</td>
            <td>{{row[13]}} </td>
          </tr>
          <tr>
            <td>Truck Owner</td>
            <td>{{row[14]}} </td>
          </tr>

          <tr>
            <td>Labour Name</td>
            <td>{{row[15]}} </td>
          </tr>
          <tr>
            <td>Labour Charges Rs.</td>
            <td>{{row[16]}} </td>
          </tr>
          <tr>
            <td>Fright Charges Rs.</td>
            <td>{{row[17]}} </td>
          </tr>
          <tr>
            <td><input type="submit" value="Back" name="submit"></td>
            <td><input type="submit" id="insert" name="insert" value="Material Select" ></td>
          </tr>
          <tbody>
    </div>
    {% endfor %}
    {% endblock %}
    </tbody>
    </table>

    </form>
  </div>
</div>