<nav class="navbar navbar-expand-lg bg-nav fixed-top">
  <a class="navbar-brand" href="#">
    <img class="logo" alt="logo" src="{{url_for('static', filename='logo.png')}}" width="50px" />COMPANY NAME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <!--<li class="nav-item">
        <a id="cal" class="nav-link {{ 'active-nav' if active_page ==
          'calibration' else '' }}" onclick="myAction_vender('cal')" >Reports</a>
      </li>-->
      <!--<li class="nav-item">
        <a class="nav-link {{ 'active-nav' if active_page == 'vender' else '' }}"
          href="#Vender Master" >User Mgt</a>
      </li>-->
       <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Enquiry Tracker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/insert">New Enquiry</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="#">Visit Form</a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" href="/quot_tracker">Quotations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/workorder_tracker">Work Order Tracker</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" onclick="myAction_dept()">Search</a>
      </li>-->
     

      <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>