{% extends "base.html" %}
{% set active_page = "calibration" %}
{% block content %}
<div class="container-fluid text-center">
  <div class="row content">

    <div class="row content">
      <div class="col-sm-1 sidenav">
        <!-- Right side margin-->

      </div>
      <div class="col-sm-10 text-left">

        <h3>Work Order Tracker</h3>

        <form name="myForm" action="/material_select" onsubmit="return validateForm()" method="post">

          <table>
            <thead>
              <tr>
                <th class="medium">Select Record</th>
                <th style="font-size: 14px; text-align: center;">Memo ID</th>
                <th>Memo Date</th>
                <th class="medium">Visit ID</th>
                <th>Enquiry ID </th>
                <th>Consignor</th>
                <th>Consignor Address</th>
                <th>Consignee</th>
                <th>Consignee Address</th>
                <th>Driver Name</th>
                <th>Driver Allowance</th>
                <th>Superviser Name</th>
                <th>Superviser Amount</th>
                <th>Good Description</th>
                <th>Truck No</th>
                <th>Truck Owner</th>
                <th>Labour Name</th>
                <th>Labour Charge</th>
                <th>Fright Charge</th>
              </tr>
            </thead>
        
        <tbody>
          {% for row in data %}
          <tr>
            <td><input type="radio" name="enqid_select" value={{row[3]}}> </td>
            
            <td><a href=/material_select?recid={{row[3]}}> </a>{{row[0]}}</td>
            


            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
            <td>{{row[7]}}</td>
            <td>{{row[8]}}</td>
            <td>{{row[9]}}</td>
            <td>{{row[10]}}</td>
            <td>{{row[11]}}</td>
            <td>{{row[12]}}</td>
            <td>{{row[13]}}</td>
            <td>{{row[14]}}</td>
            <td>{{row[15]}}</td>
            <td>{{row[16]}}</td>
            <td>{{row[17]}}</td>
            
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
      <tr>
        <td><input type="submit" id="insert" name="insert" value="Material Select" ></td>
      </tr>
      

  </div>
  </form>


  
  <script>
    function validateForm() {

      var x = document.forms["myForm"]["enqid_select"].value;

      if (x == "") {
        alert("Please select Enquiry row to process.");
        return false;
      }
    }
  </script>
  {% endblock %}
            
          